body {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  ) ;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px 100px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 30%;
}

h1 {
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
}

.content {
  margin: 0 auto;
  max-width: 1200px;
}
p {
  display: block;
  font-size: 14px;
  line-height: 1.2;
  text-align: justify;
}

button {
  display: block;
  margin: 0 auto;
  color: #004a2f;
  background-color: #baedc3;
  border: 3px solid #004a2f;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
  text-transform: uppercase;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

h2,
address,
footer {
  text-align: center;
  margin: 20px auto;
}

address {
  font-size: 18px;
}

address:hover {
  opacity: 0.8;
  cursor: pointer;
}

footer {
  font-style: oblique;
}
